In [16]:
import pandas as pd
import numpy as np

In [6]:
series=pd.Series([[3,3],[-5,8],[1,7],[3.3,4]] , index=['a','b','c','d'])

In [7]:
print(series)

a      [3, 3]
b     [-5, 8]
c      [1, 7]
d    [3.3, 4]
dtype: object

In [9]:
series['a']

[3, 3]

In [15]:
data =  [['Belgium', 'India', 'Brazil' ],
        ['Brussels', 'New Delhi', 'Brassilia'],
         [1234,1234,1234]]

pd.DataFrame(data,columns=['Country'
 ,'Capital'
,'Population'])

    Country    Capital Population
0   Belgium      India     Brazil
1  Brussels  New Delhi  Brassilia
2      1234       1234       1234

In [19]:
pd.DataFrame(np.random.random((20,5)))

In [21]:
df=pd.read_csv('./housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY