In [1]:
import pandas as pd
import numpy as np

In [2]:
series=pd.Series([[3,3],[-5,8],[1,7],[3.3,4]] , index=['a','b','c','d'])

In [3]:
print(series)

a      [3, 3]
b     [-5, 8]
c      [1, 7]
d    [3.3, 4]
dtype: object

In [4]:
series['a']

[3, 3]

In [5]:
data =  [['Belgium', 'India', 'Brazil' ],
        ['Brussels', 'New Delhi', 'Brassilia'],
         [1234,1234,1234]]

pd.DataFrame(data,columns=['Country'
 ,'Capital'
,'Population'])

    Country    Capital Population
0   Belgium      India     Brazil
1  Brussels  New Delhi  Brassilia
2      1234       1234       1234

In [6]:
pd.DataFrame(np.random.random((20,5)))

           0         1         2         3         4
0   0.780976  0.632464  0.777983  0.464346  0.568670
1   0.840693  0.642047  0.704132  0.932273  0.037521
2   0.916951  0.637146  0.615438  0.691631  0.230425
3   0.862050  0.822175  0.028487  0.047976  0.676661
4   0.116638  0.655669  0.877150  0.223462  0.763611
5   0.942892  0.756531  0.642655  0.010095  0.341444
6   0.945801  0.447435  0.844214  0.401449  0.930222
7   0.828893  0.908050  0.021733  0.228616  0.457912
8   0.405538  0.114895  0.495881  0.879447  0.901926
9   0.904175  0.168212  0.162180  0.662278  0.435367
10  0.041998  0.273989  0.467036  0.736867  0.517207
11  0.193657  0.491689  0.206973  0.460583  0.454805
12  0.175993  0.383775  0.314703  0.648561  0.925082
13  0.008085  0.187910  0.303366  0.460943  0.037131
14  0.549611  0.968693  0.145996  0.963909  0.571452
15  0.714598  0.769848  0.200467  0.187615  0.188481
16  0.055986  0.496235  0.246283  0.123243  0.515093
17  0.417507  0.094554  0.963312  0.931733  0.879662
18  0.473013  0.232134  0.023797  0.762127  0.086886
19  0.430789  0.155343  0.724875  0.205162  0.803305

In [7]:
df=pd.read_csv('./housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [9]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [10]:
df.count()

longitude             20640
latitude              20640
housing_median_age    20640
total_rooms           20640
total_bedrooms        20433
population            20640
households            20640
median_income         20640
median_house_value    20640
ocean_proximity       20640
dtype: int64

In [11]:
df.cumsum()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,4.526000e+05,NEAR BAY
1,-244.45,75.74,62.0,7979.0,1235.0,2723.0,1264.0,16.6266,8.111000e+05,NEAR BAYNEAR BAY
2,-366.69,113.59,114.0,9446.0,1425.0,3219.0,1441.0,23.8840,1.163200e+06,NEAR BAYNEAR BAYNEAR BAY
3,-488.94,151.44,166.0,10720.0,1660.0,3777.0,1660.0,29.5271,1.504500e+06,NEAR BAYNEAR BAYNEAR BAYNEAR BAY
4,-611.19,189.29,218.0,12347.0,1940.0,4342.0,1919.0,33.3733,1.846700e+06,NEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-2467433.71,735283.90,591050.0,54394554.0,10988649.0,29418349.0,10309073.0,79882.1369,4.269161e+09,NEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR B...
20636,-2467554.92,735323.39,591068.0,54395251.0,10988799.0,29418705.0,10309187.0,79884.6937,4.269238e+09,NEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR B...
20637,-2467676.14,735362.82,591085.0,54397505.0,10989284.0,29419712.0,10309620.0,79886.3937,4.269330e+09,NEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR B...
20638,-2467797.46,735402.25,591103.0,54399365.0,10989693.0,29420453.0,10309969.0,79888.2609,4.269415e+09,NEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR B...
20639,-2467918.70,735441.62,591119.0,54402150.0,10990309.0,29421840.0,10310499.0,79890.6495,4.269504e+09,NEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR BAYNEAR B...

In [12]:
df.min()

longitude               -124.35
latitude                  32.54
housing_median_age          1.0
total_rooms                 2.0
total_bedrooms              1.0
population                  3.0
households                  1.0
median_income            0.4999
median_house_value      14999.0
ocean_proximity       <1H OCEAN
dtype: object

In [13]:
print(df['median_house_value'].idxmin())

2521

In [14]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [15]:
df.mean()

C:\Users\user\AppData\Local\Temp/ipykernel_17788/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

longitude               -119.569704
latitude                  35.631861
housing_median_age        28.639486
total_rooms             2635.763081
total_bedrooms           537.870553
population              1425.476744
households               499.539680
median_income              3.870671
median_house_value    206855.816909
dtype: float64

In [16]:
df.median()

C:\Users\user\AppData\Local\Temp/ipykernel_17788/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

longitude               -118.4900
latitude                  34.2600
housing_median_age        29.0000
total_rooms             2127.0000
total_bedrooms           435.0000
population              1166.0000
households               409.0000
median_income              3.5348
median_house_value    179700.0000
dtype: float64

In [17]:
df.cummax().head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.88,41.0,7099.0,1106.0,2401.0,1138.0,8.3252,452600.0,NEAR BAY
2,-122.22,37.88,52.0,7099.0,1106.0,2401.0,1138.0,8.3252,452600.0,NEAR BAY
3,-122.22,37.88,52.0,7099.0,1106.0,2401.0,1138.0,8.3252,452600.0,NEAR BAY
4,-122.22,37.88,52.0,7099.0,1106.0,2401.0,1138.0,8.3252,452600.0,NEAR BAY

In [18]:
df.isnull().head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [19]:
df.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069608,0.099773,0.055310,-0.015176,-0.045967
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066983,-0.108785,-0.071035,-0.079809,-0.144160
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.320451,-0.296244,-0.302916,-0.119034,0.105623
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.930380,0.857126,0.918484,0.198050,0.134153
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686
population,0.099773,-0.108785,-0.296244,0.857126,0.877747,1.000000,0.907222,0.004834,-0.024650
households,0.055310,-0.071035,-0.302916,0.918484,0.979728,0.907222,1.000000,0.013033,0.065843
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007723,0.004834,0.013033,1.000000,0.688075
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049686,-0.024650,0.065843,0.688075,1.000000

In [21]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [22]:
df.count()

longitude             20640
latitude              20640
housing_median_age    20640
total_rooms           20640
total_bedrooms        20433
population            20640
households            20640
median_income         20640
median_house_value    20640
ocean_proximity       20640
dtype: int64

In [25]:
df['total_bedrooms'].value_counts(dropna=True).head(5)

280.0    55
331.0    51
345.0    50
343.0    49
393.0    49
Name: total_bedrooms, dtype: int64

In [26]:
df.sample(4)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
2082,-119.80,36.76,52.0,1853.0,437.0,764.0,390.0,1.6429,69200.0,INLAND
7039,-118.09,33.95,32.0,1083.0,206.0,737.0,218.0,3.5583,170800.0,<1H OCEAN
452,-122.27,37.88,37.0,2619.0,682.0,1152.0,616.0,2.5200,277800.0,NEAR BAY
9332,-122.64,38.01,36.0,1336.0,258.0,678.0,249.0,5.5789,292000.0,NEAR OCEAN

In [31]:
df.sample(frac=.01)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
15351,-117.30,33.25,22.0,2329.0,419.0,1456.0,381.0,3.7933,131000.0,<1H OCEAN
7918,-118.09,33.87,31.0,3498.0,728.0,2098.0,697.0,3.9837,246000.0,<1H OCEAN
13243,-117.65,34.14,9.0,3877.0,490.0,1815.0,490.0,8.4839,406700.0,INLAND
12309,-116.89,33.48,14.0,1016.0,219.0,443.0,169.0,2.8071,137500.0,INLAND
16884,-122.39,37.58,36.0,6026.0,852.0,2314.0,892.0,7.8997,500001.0,NEAR OCEAN
...,...,...,...,...,...,...,...,...,...,...
3073,-119.23,35.79,31.0,2862.0,606.0,2467.0,600.0,2.3125,62100.0,INLAND
18511,-122.00,36.98,43.0,1636.0,324.0,792.0,325.0,3.5562,239200.0,NEAR OCEAN
18936,-122.14,38.16,4.0,3273.0,495.0,1497.0,454.0,5.3345,176100.0,NEAR BAY
19933,-119.32,36.30,15.0,2864.0,571.0,1480.0,475.0,2.9698,93400.0,INLAND
16152,-122.48,37.77,52.0,2556.0,595.0,1202.0,568.0,3.8899,348500.0,NEAR BAY

In [32]:
df.nlargest(5,'total_bedrooms')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
9880,-121.79,36.64,11.0,32627.0,6445.0,28566.0,6082.0,2.3087,118800.0,<1H OCEAN
13139,-121.44,38.43,3.0,39320.0,6210.0,16305.0,5358.0,4.9516,153700.0,INLAND
10309,-117.74,33.89,4.0,37937.0,5471.0,16122.0,5189.0,7.4947,366300.0,<1H OCEAN
8985,-118.44,33.98,21.0,18132.0,5419.0,7431.0,4930.0,5.3359,500001.0,<1H OCEAN
6057,-117.78,34.03,8.0,32054.0,5290.0,15507.0,5050.0,6.0191,253900.0,<1H OCEAN

In [44]:
filter=  (df['total_bedrooms']>595.0)  & (df['housing_median_age']<=8) & (df['total_bedrooms']<=936.0)
df[filter]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
704,-122.05,37.63,5.0,3785.0,936.0,2240.0,792.0,3.2829,162500.0,NEAR BAY
785,-122.11,37.64,8.0,3592.0,849.0,1907.0,746.0,3.6708,197900.0,NEAR BAY
863,-122.00,37.58,6.0,4405.0,717.0,2071.0,688.0,5.8151,295600.0,<1H OCEAN
876,-122.01,37.56,6.0,3028.0,778.0,1531.0,736.0,4.4259,158000.0,NEAR BAY
938,-122.03,37.54,6.0,2918.0,672.0,1911.0,639.0,4.1406,178200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20455,-118.77,34.27,7.0,3074.0,794.0,1816.0,654.0,2.7137,196400.0,<1H OCEAN
20487,-118.67,34.30,5.0,6123.0,825.0,2440.0,736.0,7.9013,393000.0,<1H OCEAN
20506,-118.73,34.29,8.0,4983.0,754.0,2510.0,725.0,6.9454,276500.0,<1H OCEAN
20549,-121.80,38.69,8.0,3544.0,691.0,2118.0,678.0,3.7477,122200.0,INLAND
20571,-121.99,38.53,6.0,4598.0,834.0,2561.0,812.0,3.4186,127300.0,INLAND

In [46]:
df.sort_values('total_bedrooms').head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16171,-122.50,37.79,52.0,8.0,1.0,13.0,1.0,15.0001,500001.0,NEAR BAY
12286,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0,INLAND
3126,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.3750,137500.0,INLAND
16888,-122.37,37.60,26.0,15.0,3.0,11.0,3.0,5.0480,350000.0,NEAR OCEAN
12458,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.5360,275000.0,INLAND

In [47]:
df.rename(columns={'housing_median_age':'median_housing_age'}).head()

,longitude,latitude,median_housing_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [48]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [49]:
df['total_other_rooms']=df['total_rooms']-df['total_bedrooms']

In [50]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,total_other_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,751.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5993.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,1277.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,1039.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,1347.0

In [52]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'total_other_rooms'],
      dtype='object')